*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
header div#contacto {
    background-color: red;
    width: 50%;
}
header nav#sociales {
    background-color: greenyellow;
    width: 50%;
}

header figure {
    width: 16%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header figure img {
    height: 50px;
}

header nav#principal{
    width: 61%;
    height: 80%;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}

header nav#principal a {
    background-color: none;
    height: 80%;
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav#principal a i:hover {
    color:red;
}

header nav#principal a:hover {
    background-color: rgba(0,0,255,.3);
}

header nav#principal span {
    font-size: 20px;
    order: 1;
}
header nav#principal i{
    color: black;
    font-size: 30px;
    order: 0;
}

header div#registro {
    width: 21%;
    height: 80%;;
    background-color: cornflowerblue;
    order:2;
}

main {
    height: 700px;
    background-color: rgba(255,0,0,.3);
    padding: 20px;
}
main h1 {
    font-family: Piedra;
    text-align: center;
}
main p {
    font-family: 'Texturina';
    text-align: justify;
    text-indent: 1cm;
    line-height: 1.3;
    margin-bottom: 10px;;
    font-size: 18px;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px red;
}

footer{
    height: 120px;
    background-color: black;
    color: whitesmoke;
}